<h2> Welcome, <a href="/profile/<%= @user.id %>"> <%= @user.name %></a>!</h2>
<a class="button" href="/create_photo">Post photo</a>
<br>

<div class="align_left">

  <%if @photos_array == nil%>
    <h2>No photos yet.</h2>
  <%else%>

    <% @photos_array.reverse_each do |p| %>

      <h3 class="inline"><a href="/show/<%=p.id%>"><%= p.title %></a></h3>
      <p class="score">
        Score: <%= photo_score(p.id) %>
      </p>
      <br>
      <a href="/show/<%=p.id%>"><img src="<%= p.photo %>" alt="<%= p.title %>" class="feed_img"></a>
      <% author = User.find(p.user_id) %>
      <br>
      <h4 class="inline">Author: <a href="/profile/<%= author.id %>"><%= author.name %></a></h4>
      <br><br>
    <%end%>

  <%end%>



</div>


<br>
<a class="button" href="/users_list">Users list</a>
<a class="button" href="/logout">Log out.</a>